<div class="row">
             <div class="well">
                 <h1>Colors</h1>
             </div>
<div id="page1" class="pages container-fluid">
            
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-5">
            <div class="logo-body">
                <img src="https://visor.io/images/landing/logo.svg">
            </div>  
        </div>
        <div class="col-xs-4 col-sm-6 col-md-5">
             <br>
            <h3>Basics color of logo</h3>
             <br>
            <p>
               Oblique lines #49CAD8 80%, <br><br>
               Single stick: #00A88F 80%, <br><br>
               Top line: #33B9A5 100%, <br><br>
               Letters: #989898 100%, <br><br>
               dot: #49CAD8 100%</p>
        </div>
    </div>


                   <!-- Containers -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Color primary - #00a2f3</h3>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Color success - #33B9A5</h3>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Color warning - #f6a623</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Color danger - #d0011b</h3>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Color info - #49CAD8</h3>
                    </div>
                </div>
            </div>
        </div>  
</div>
</div>
</div>
