<div class="row">
             <div class="jumbotron default">
                 <h1>Colors</h1>
             </div>
<div id="page1" class="pages container-fluid">
             <p>Basic Palet</p>

             <h3>State: pasive</h3>
             <div class="well">
             <div style="background: #007fff; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#007fff</div>
             <div style="background: #3fb618; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#3fb618</div>
             <div style="background: #00a2ff; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#00a2ff</div>
             <div style="background: #ff7518; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#ff7518</div>
             <div style="background: #ff0039; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#ff0039</div>
             <div style="background: #333333; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#333333</div>
             <div style="clear: both;"></div>
             </div>
             <h3>State: hover</h3>
             <div class="well">
             <div style="background: #006bd6; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#006bd6</div>
             <div style="background: #339213; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#339213</div>
             <div style="background: #007AC4; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#007AC4</div>
             <div style="background: #ee6000; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#ee6000</div>
             <div style="background: #d60030; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#d60030</div>
             <div style="background: #0e0e0e; height: 100px; width: 125px; color: #fff; font-size: 18px; float: left; margin-right: 20px;">#0e0e0e</div>
             <div style="clear: both;"></div>
             </div>
</div>
</div>
