<div class="row">
             <div class="jumbotron-primary">
                 <h1>Downloads</h1>
             </div>
<div id="page1" class="pages">

<div class="container-fluid">
    <div class="col-sm-4">
      <h3 id="download-bootstrap">bm-bootstrap.css</h3>
      <p>Uncompressed CSS Styles, development version.</p>
      <p>
        <a href="public/bm-bootstrap.css" class="btn btn-lg btn-outline" role="button" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download compiled');">Download Bootstrap</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h3 id="download-source">bm-bootstrap.less</h3>
      <p>Source Less, <strong>Requires a Less compiler.</strong></p>
      <p>
        <a href="public/bm-bootstrap.less" class="btn btn-lg btn-outline" role="button" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download source');">Download source</a>
      </p>
    </div>
  </div>



</div>
</div>