<div class="row">
             <div class="jumbotron default">
                 <h1>Introduction</h1>
             </div>

<div id="page1" class="pages container-fluid">
             <p>The purpose of this guide is to have a visual reference framework for developers to have access to the graphic identity of our company.</p>

             <p>In the following pages, we will be able to find everything you need to develop beautiful web applications without having to worry about the design..</p>

             <p>We also note that the following guidelines are based on Twitter Bootstrap, (which is a defacto standard) which gives us the flexibility of development and an extensive community that could solve our doubts.</p>
</div>
</div>