<div class="row left-menu">
<div class="brand">
	<img class="img-responsive" src="img/logo.png" />
</div>
<div class="panel panel-default">
         
	<div class="list-group">
	    <a class="list-group-item" ng-click="go('/introduction')"> Introduction</a>
	    <a class="list-group-item" ng-click="go('/colors')"> Colors</a>
	    <a class="list-group-item" ng-click="go('/fonts')"> Fonts</a>
	
	    <a class="list-group-item" ng-click="go('/navbar', 'slideLeft')"> Navbar</a>
	    <a class="list-group-item" ng-click="go('/buttons', 'slideRight')"> Buttons</a>
	    <a class="list-group-item" ng-click="go('/tables', 'slideRight')"> Tables</a>
	    <a class="list-group-item" ng-click="go('/forms', 'slideRight')"> Forms</a>
	    <a class="list-group-item" ng-click="go('/navs', 'slideRight')"> Navs</a>
	    <a class="list-group-item" ng-click="go('/indicators', 'slideRight')"> Indicators</a>
	    <a class="list-group-item" ng-click="go('/progress_bars', 'slideRight')"> Progress bars</a>
	    <a class="list-group-item" ng-click="go('/containers', 'slideRight')"> Containers</a>
	    <a class="list-group-item" ng-click="go('/dialogs', 'slideRight')"> Dialogs</a>
	    
	    <a class="list-group-item" ng-click="go('/downloads')"> Downloads</a>
	    <!--<a class="list-group-item" ng-click="go('/textures', 'slideRight')"> Other Components</a>-->
	</div>
</div>
