<div class="row left-menu">
<div class="brand">
	<img class="img-responsive" src="img/logo.svg" />
</div>
<div class="panel panel-default">

	<div class="list-group">
	    <a class="list-group-item" ng-click="go('/introduction', 'crossFade')"> Introduction</a>
	    <a class="list-group-item" ng-click="go('/colors', 'crossFade')"> Logo & Colors</a>
	    <a class="list-group-item" ng-click="go('/fonts', 'crossFade')"> Fonts</a>

	    <a class="list-group-item" ng-click="go('/navbar', 'crossFade')"> Navbar</a>
	    <a class="list-group-item" ng-click="go('/buttons', 'crossFade')"> Buttons</a>
	    <a class="list-group-item" ng-click="go('/tables', 'crossFade')"> Tables</a>
	    <a class="list-group-item" ng-click="go('/forms', 'crossFade')"> Forms</a>
	    <a class="list-group-item" ng-click="go('/navs', 'crossFade')"> Navs</a>
	    <a class="list-group-item" ng-click="go('/indicators', 'crossFade')"> Indicators</a>
	    <a class="list-group-item" ng-click="go('/containers', 'crossFade')"> Containers</a>

	    <!--<a class="list-group-item" ng-click="go('/downloads')"> Downloads</a>-->
	    <!--<a class="list-group-item" ng-click="go('/textures', 'slideRight')"> Other Components</a>-->
	</div>
</div>
