/* partial containers */
.page-container {
height: 100%;
width: 100%;
position: relative;
-webkit-transform: translate3d(0,0,0);
}

.page-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
}



.left-menu{
    position: relative;
    z-index: 1;
}
.left-menu .panel{
    border:none;
}
.left-menu .panel .list-group-item{
    border:none;
}
.left-menu .panel-default > .panel-heading{
    background: transparent;
}
.fonts{
    color:#333;
}
a.btn-outline {
color: #333;
background-color: transparent;
border:2px solid #333;
}
a.btn-outline:hover {
color: #fff;
background-color: #333;
border:2px solid #333;
}
.logo-body img{
    height: 300px;
}
a.btn-hero {
    margin: 0;
    display: block !important;
    width: 50%;
    color: #fff !important;
    border-radius: 25px;
    background-color: #00A2F3;
    border-color: #00A2F3;
    transition: all 0.6s ease;
}
.btn-hero:hover {
    color: #ffffff;
    background-color: #0079B6;
    border-color: #0079B6;
}